# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
venv/
.env
.venv
.python-version

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Docker
.docker/data/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Distribution
dist/
build/
*.egg-info/

# Project specific
.env
!.env.example